<h1>Play#score</h1>
<p>Find me in app/views/play/score.html.erb</p>

Time in Seconds: <%= @time %>
<br>
Your Attempt: <%= @attempt %>
<br>
Your Score: <%= @score %>
<br>
Our Answer: <%= @message %>
<br>
Translation of your Solution: <%= @translation %>

